@model IEnumerable<ConsoleApplication.Models.Student>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Students</h1>
        </div>
        <div class="newStudent">
            <a class="btn btn-success" style="margin-bottom: 10px" asp-controller="Student" asp-action="Create">New Student</a>
        </div>
        <div class="table">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th>@Html.DisplayNameFor(model => model.StudentID)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.EnrollmenDate)</th>
                    <th>@Html.DisplayNameFor(model => model.Age)</th>
                    <th></th>
                    </tr>
                </thead>
                @foreach(var st in Model)
                {
                    <tr>
                        <td>@st.StudentID</td>
                        <td>@st.FirstName</td>
                        <td>@st.LastName</td>
                        <td>@st.EnrollmenDate</td>
                        <td>@st.Age</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Student" asp-action="Edit">Edit</a>
                            <a class="btn btn-danger" asp-controller="Student" asp-action="Delete">Delete</a>
                            <a class="btn btn-info" asp-controller="Student" asp-action="Details">Details</a>
                        </td>
                    </tr>
                    }
            </table>
        </div>
    </div>
</body>
</html>